
.todo-container {
    margin: 0;
    padding: 20px;
    text-align: left;
}

.todo-header {
    margin-top: 0;
    color: #333;
    font-size: 25px;
    padding-left: 0;
    text-align: left;
}

.todo-input-container {
    margin-bottom: 20px;
}

.todo-input {
    margin-top: 0;
    color: #333;
    font-size: 15px;
    padding-left: 0;
    text-align: left;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #333;
    display: inline-block;
    position: relative;
}

.todo-input:focus {
    outline: none;

}

.todo-add-button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 53px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: absolute;
    top: 70px;
    left: 220px;
}

.todo-list-value {
    font-size: 18px;
    list-style: none;

}

.todo-item {
    background-color: transparent;
    border: none;
    padding: 5px 0;
    margin-top: 5px;
}

.todo-save-button {
    background: none;
    border: none;
    cursor: pointer;
    padding-left: 70;
    margin-top: 10px; 
  }
  .todo-save-button:hover {
    color: green;
}

.todo-add-details {
    color: #333;
    font-size: 15px;
    width: 250px;
    height: 10vh;
    border-radius: 10px;
    margin-top: 10px; 
}

.todo-add-details:focus {
    outline: none;
}

.todo-delete-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding-left: 70;
    margin-top: 10px; 
    
}

.todo-delete-button:hover {
    color: red;
}
.popup {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    background-color: #45a049;
    border-radius: 53%;
    color:white;
    text-align: center;
  }

  .popup.show {
    visibility: visible;
  }
  .todo-search-todo{
    color: #333;
    font-size: 15px;
    padding-left: 0;
    text-align: left;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #333;
    display: inline-block;
    outline: none; 
  }


